#awesomebar {
	z-index: 99;
	position: fixed;
	top: 2.25em;
	left: 0;
	width: 100%;
	background: #fff;
	color: #000;
	padding-left: 75px;
	padding-right: 40px;
	/* align with window controls */
	-webkit-user-select: none;
	max-height: calc(100% - 75px);
	overflow-y: auto;
}
#awesomebar .result-item {
	width: 100%;
	display: block;
	padding: 0.5em;
	cursor: pointer;
}
#awesomebar .result-item:after {
	content: "";
	clear: both;
	display: block;
}
#awesomebar .result-item:hover {
	background-color: rgba(0, 0, 0, 0.075);
}
.dark-theme #awesomebar .result-item:hover {
	background-color: rgba(255, 255, 255, 0.12);
}
#awesomebar .result-item:focus {
	background-color: rgba(0, 0, 0, 0.12);
	outline: none;
}
.dark-theme #awesomebar .result-item:focus {
	background-color: rgba(255, 255, 255, 0.15);
}
#awesomebar .result-item .title {
	display: inline-block;
	vertical-align: middle;
	max-height: 1.1em;
	max-width: 45%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#awesomebar .result-item i {
	opacity: 0.75;
	margin-right: 0.75em;
	font-size: 0.8em;
	vertical-align: text-bottom;
	width: 1em;
}
#awesomebar .result-icon {
	height: 2.75em;
	margin: 0.25em 0.5em 0.5em 0;
	float: left;
}
#awesomebar .result-icon.color-circle {
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
	float: left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding-right: 0.5em;
}
.dark-theme #awesomebar .result-icon.color-circle {
	border-color: rgba(255, 255, 255, 0.2);
}
#awesomebar img.result-icon {
	background: rgba(255, 255, 255, 0.5);
}

/* bang icons */

#awesomebar .result-icon.inline {
	height: 1em;
	float: initial;
	vertical-align: text-bottom;
	margin: 0 0.5em 0 0;
	background: none;
	/* prevents images from being blurry */
	image-rendering: pixelated;
}
#awesomebar .result-item .secondary-text .md-info {
	opacity: 0.8;
	font-size: inherit;
	padding: 0.1em;
}
#awesomebar .result-item .secondary-text .md-info:first-child {
	padding-left: 0;
}
#awesomebar .result-item .secondary-text .md-info:last-of-type {
	padding-right: 0.5em;
}
#awesomebar .result-item .secondary-text .md-info + .md-info:before {
	content: " - ";
}
#awesomebar .result-item .secondary-text {
	display: inline-block;
	opacity: 0.66;
	font-size: 0.95em;
	overflow: hidden;
	vertical-align: middle;
	/* TODO find a better way to center this */
	padding-bottom: 1.154em;
	padding-left: 1.5em;
	max-width: 50%;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 1em;
}

/* switch to a two-line layout */

@media all and (max-width: 650px) {
	#awesomebar .result-item .title {
		max-width: calc(100% - 50px);
	}
	#awesomebar .result-item .secondary-text {
		display: block;
		max-width: 100%;
		padding-top: 0.1em;
		padding-left: 1.5em;
	}
	#awesomebar .topic-results:not(:empty):before {
		content: "";
	}
}
#awesomebar .result-item .description-block {
	display: block;
	line-height: 1.1em;
	max-height: 2.2em;
	overflow: hidden;
	opacity: 0.666;
	font-size: 0.8em;
}

/* when a result is selected, we can show more of the description */

#awesomebar .result-item:focus .description-block {
	max-height: 6.6em;
}
body.awesomebar-shown webview {
	opacity: 0.5;
}

/* account for a missing icon */

#awesomebar .result-item.indent {
	padding-left: 1.75em;
}
