* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: '.SFNSText-Regular', 'BlinkMacSystemFont', 'Helvetica Neue', 'Segoe UI', 'Arial', sans-serif;
}
[hidden] {
	display: none !important;
}
/* buttons are styled like normal text by default */
button {
	background: none;
	border: none;
	color: inherit;
	outline: none;
}
body,
html {
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
}
