html, body, dark-theme {
  background-color: rgb(40, 44, 52);
  background-color: rgb(33, 37, 43);
  /*color: rgb(171, 178, 191); */
  color: lightgrey;
}

a {
  color: dodgerblue;
}

input {
  background-color: rgb(33, 37, 43);
  background-color: rgb(40, 44, 52);
  color: white;
  border-color: transparent;
}

#restart-required-banner {
  color: black;
}
