#findinpage-bar {
	width: 100%;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	align-items: center;
	padding-left: 80px;
	padding-right: 0.75em;
	height: 36px;
	z-index: 99;
}
body.fullscreen #findinpage-bar,
body.notMac #findinpage-bar {
	padding-left: 0.5em;
}
#findinpage-bar #findinpage-input {
	flex: 1;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	border: 0;
	background: inherit;
	color: inherit;
	min-width: 80px;
}
#findinpage-bar #findinpage-input::-webkit-input-placeholder {
	opacity: 0.75;
	color: inherit;
}
#findinpage-bar .divider {
	height: 100%;
	width: 1em;
}
#findinpage-bar .inline-text {
	font-size: 0.85em;
	vertical-align: middle;
}
#findinpage-bar .icon {
	font-size: 1em;
	padding: 0 0.5em;
	margin-top: -2px;
}
#findinpage-bar .icon.fa-angle-up,
#findinpage-bar .icon.fa-angle-down {
	font-size: 1.2em;
}
