.tab-group {
	/* make room for the window controls */
	padding-left: 75px;
	display: flex;
	/* we need a way to apply css transitions to heights */
	min-height: 2.3333em;
	max-height: 2.3333em;
	align-items: center;
	transition: 0.2s background-color, 0.1s max-height;
	max-width: 100vw;
	-webkit-user-select: none;
	position: relative;
}

/* when the tab-group is white, we need a line to separate it from the webviews */

.tab-group[style="color: black; background-color: rgb(255, 255, 255);"]:before {
	content: "";
	width: 100vw;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
}
.tab-group #tabs {
	display: flex;
	overflow: auto;
}
.tab-group .tab-item {
	flex: 1;
	min-width: 125px;
	transition: .15s min-width;
	padding: 0 0.5em;
	font-size: 0.8em;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	padding-left: 0.66%;
	word-break: break-all;
}
.tab-group .tab-item .secondary-text {
	display: none;
}
.tab-group .tab-item:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}

/* icons */

.tab-group .tab-item i {
	font-size: 0.8em;
	padding: 0.9em;
	vertical-align: middle;
}
.tab-group .tab-item i + i {
	padding-left: 0
}
.tab-group .tab-item.active.has-highlight {
	background: rgba(255, 255, 255, 0.2);
}
.tab-group .tab-item.selected {
	min-width: 100%;
	/* remove the white transparent-ness */
	background: none;
}
.tab-group .tab-item.fade {
	opacity: 0.5;
}

/* when an input is selected, hide other tabs */

.tab-group #tabs.has-selected-tab .tab-item:not(.selected) {
	min-width: 0;
	max-width: 0;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
}

/* show either the view or edit contents */

.tab-group .tab-item .tab-edit-contents {
	display: none;
}
.tab-group .tab-item.selected .tab-edit-contents {
	display: flex;
	height: 100%;
	align-items: center;
}
.tab-group .tab-item.selected .tab-view-contents {
	display: none;
}

/* tab inputs */

.tab-group .tab-item .tab-input {
	line-height: 1.15em;
	font-size: 1.15em;
	-webkit-appearance: none;
	background: none;
	border: none;
	color: inherit;
	flex: 1;
	height: 1.5em;
	outline: none;
	transition: 0.2s color, 0.2s background-color;
	-webkit-user-select: auto;
}
.tab-group .tab-item .tab-input::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
	line-height: 1.25em;
}

/* hide the lock icon unless its the current tab */

.tab-group .tab-item:not(.active) .icon-tab-is-secure {
	display: none;
}
.tab-group .tab-item .tab-view-contents .title {
	font-size: 15px;
}

/* buttons */

.add-tab {
	padding: 0.5em;
	font-size: 1.1em;
	position: relative;
	top: 0;
	right: -0.25em;
}

/* reader button */

.tab-item .reader-button {
	float: right;
	display: none;
	margin-left: 0.5em;
}
.tab-item.active .reader-button.can-reader {
	display: block;
}
.tab-item.active .reader-button.is-reader {
	display: block;
}

/* expanded mode */

.tab-group.expanded {
	min-height: 125px;
	max-height: 600px;
	padding-top: 40px;
	padding-left: 1em;
	overflow: hidden;
}
.tab-group.expanded #tabs {
	flex-wrap: wrap;
	max-height: 100vh;
	width: calc(100% - 20px) !important;
}
.tab-group.expanded .tab-item {
	min-width: 300px;
	max-width: 350px;
	height: 90px;
	cursor: pointer;
	padding: 0.5em;
	transition: none;
}
.tab-group.expanded .tab-item .tab-view-contents {
	line-height: 1.25em;
	word-break: normal;
}
.tab-group.expanded .tab-item .secondary-text {
	display: block;
	font-size: 0.8em;
	line-height: 1em;
	opacity: 0.75;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tab-group.expanded .tab-item i {
	display: none !important;
}
.tab-group.expanded .add-tab {
	display: none;
}
@media all and (max-width: 650px) {
	.tab-group.expanded .tab-item {
		min-width: 100%;
		max-width: 100%;
	}
}
.tab-group.expanded .tab-item .tab-view-contents .title {
	max-height: 2.9em;
	overflow: hidden;
	display: inline-block;
}
