#manager-setup-dialog {
  max-width: 550px;
  padding: 1em;
}

#manager-setup-heading {
  font-size: 1.6em;
}

.drag-and-drop-box {
  height: 200px;
  width: 100%;
  border-width: 2px;
  border-style: dashed;
  border-color: #2eb9ce;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#manager-setup-dialog .buttons {
  float: right;
}

#manager-setup-dialog input[type='button'] {
  padding: 0.2em;
}