#password-viewer-empty {
    padding: 0.5em 0;
    opacity: 0.6;
    text-align: center;
}

#password-viewer-list {
    max-height: 70vh;
    overflow: auto;
}

#password-viewer-list > div {
    display: flex;
    margin: 0.75em 0;
}

#password-viewer-list > div > * + * {
    margin-left: 0.5em;
}

#password-viewer-list > div > input {
    flex: 1;
    min-width: 0;
}

#password-viewer .domain-name {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}