#password-capture-bar {
    position: absolute;
    top: calc(36px + var(--control-space-top));
    left: 0;
    padding: 0.5em 1.5em;
    width: 100%;
    border-bottom: 1px #ddd solid;
    line-height: 2em;
}

.dark-mode #password-capture-bar {
    background: rgb(41, 44, 52);
    color: white;
    border-bottom-color: #777;
}

#password-capture-description {
    margin-right: 1.5em;
}

#password-capture-save {
    background: royalblue;
    color: white;
    padding: 0.33em 2em;
    border-radius: 3px;
    font-size: 14px;
}

#password-capture-save:hover {
    background: rgb(72, 117, 252);
}

#password-capture-ignore {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.33em 1em;
    border-radius: 3px;
    margin-left: 0.75em;
    margin-right: 2em;
    font-size: 14px;
}

#password-capture-ignore:hover {
    background: rgba(0, 0, 0, 0.075);
}

.dark-mode #password-capture-ignore {
    background: rgba(255, 255, 255, 0.1);
}

.dark-mode #password-capture-ignore:hover {
    background: rgba(255, 255, 255, 0.15);
}

#password-capture-username {
    margin-right: 0.5em;
}

#password-capture-bar input:invalid {
    border: 2px rgb(255, 121, 121) solid;
    border-radius: 3px;
}

#password-capture-reveal-password {
    vertical-align: text-bottom;
    font-size: 1.1em;
    padding: 0 0.25em;
    margin-right: 1em;
}

.password-capture-section {
    display: inline-block;
}