#navbar {
	display: flex;
	height: 36px;
	transition: 0.2s background-color;
	width: 100%;
	-webkit-user-select: none;
	position: relative;
	outline: none;
	z-index: 2;
}

/* window drag regions */

.window-drag-area {
	display: none;
}

body.windows:not(.maximized) .window-drag-area {
	display: block;
	position: fixed;
	/* leave an empty space around the edges of the drag area so that the window can be resized */
	top: 3px;
	left: 3px;
	width: calc(100% - 6px);
	height: 9px;
	-webkit-app-region: drag;
}

body.mac .window-drag-area {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	-webkit-app-region: drag;
}

/* make room for the window controls */
body.mac:not(.fullscreen) #navbar {
	padding-left: 75px;
}

body.windows #navbar {
	padding-right: 138px;
}
body.windows:not(.maximized) #navbar {
	padding-top: 10px;
	height: 46px;
}

/* when the tab-group is white, we need a line to separate it from the webviews */

#navbar:before {
	content: "";
	width: 100vw;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.075);
}

/* dark colors don't need to be darkened as much for contrast */

.dark-theme #navbar:before {
	background: rgba(0, 0, 0, 0.04);
}
.dark-theme.is-edit-mode #navbar:before {
	background: none;
}

/* navbar buttons */

#back-button {
	opacity: 1;
	transition: none;
	font-size: 1.5em;
	padding: 0 0.6em 0 0.4em;
}
#back-button:disabled {
	opacity: 0.2;
}

body.is-edit-mode #back-button {
	display: none;
}

#menu-button {
	margin-top: 1px;
}

#menu-button {
	display: none;
}

body.windows #menu-button,
body.linux.menu-bar-hidden #menu-button {
	display: inline-block;
}

/* tab layout */

#navbar #tabs {
	display: flex;
	flex: 1;
	overflow-x: auto;
	overflow-y: hidden;
}
body.is-edit-mode #navbar #tabs {
	overflow: hidden;
}
.tab-item {
	flex: 1;
	min-width: 125px;
	transition: .15s min-width, 0.2s transform;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	word-break: break-all;
	position: relative;
}
.tab-item:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.theme-background-low-contrast .tab-item:not(.active):hover {
	background-color: rgba(255, 255, 255, 0.13);
}

.tab-view-contents {
	padding: 0 0.8em;
}

/* icons */

.tab-item .tab-icon-area {
	float: right;
}
.tab-item .tab-icon {
	font-size: 0.8em;
	margin-top: -0.1em;
	padding: 0.66em;
	vertical-align: middle;
	width: 1em;
	box-sizing: content-box;
}
.tab-item.active:not(:only-child) {
	background: rgba(0, 0, 0, 0.06);
}
.dark-theme .tab-item.active:not(:only-child) {
	background: rgba(255, 255, 255, 0.2);
}
.dark-theme.theme-background-low-contrast .tab-item.active:not(:only-child) {
	background: rgba(255, 255, 255, 0.25);
}
.tab-item.selected {
	min-width: 100%;
	/* remove the white transparent-ness */
	background: none;
	padding-left: 9px;
}
.tab-item.fade {
	opacity: 0.55;
}
.tab-item.fade:hover {
	opacity: 1;
}

/* style tab scrollbar */

#navbar #tabs::-webkit-scrollbar {
	height: 0.25em;
}
#navbar #tabs::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.05);
}
#navbar #tabs::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.175);
	border-radius: 0.25em;
}
.dark-theme #navbar #tabs::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.25);
}
.dark-theme #navbar #tabs::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.6);
}

/* when an input is selected, hide other tabs */

.is-edit-mode .tab-item:not(.selected) {
	min-width: 0;
	max-width: 0;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
}

/* the background isn't necessary when there is only one tab */

.is-edit-mode .tab-item {
	background: none !important;
}

/* show either the view or edit contents */

.tab-item .tab-edit-contents {
	display: none;
}
.tab-item.selected .tab-edit-contents {
	display: flex;
	height: 100%;
	align-items: center;
}
.tab-item.selected .tab-view-contents {
	display: none;
}

/* tab inputs */

.tab-item .tab-input {
	line-height: 1.15em;
	font-size: 1.15em;
	-webkit-appearance: none;
	background: none;
	border: none;
	color: inherit;
	flex: 1;
	height: 1.5em;
	outline: none;
	-webkit-user-select: auto;
	-webkit-app-region: no-drag;
}
.tab-item .tab-input::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.5;
	line-height: 1.25em;
}

/* show the overlay in edit mode */

#overlay {
	display: none;
}

body.is-edit-mode #overlay,
body.is-modal-mode #overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.5);
	z-index: 1;
	pointer-events: none;
}
body.is-modal-mode #overlay {
	/* In modal mode, the tab bar should be disabled */
	z-index: 5;
	pointer-events: all;
}
body.dark-mode #overlay {
	background: rgba(0, 0, 0, 0.4);
}
/* hide the lock icon unless its the current tab */

.tab-item:not(.active) .icon-tab-not-secure {
	display: none;
}
.tab-item .tab-view-contents .title {
	font-size: 15px;
}

/* buttons */

.navbar-action-button {
	padding: 0 1em;
	height: 36px;
	line-height: 36px !important;
}
.navbar-action-button.invisible {
	visibility: hidden;
}
.navbar-action-button + .navbar-action-button {
	padding-left: 0.5em;
}

.tab-item .bookmarks-button {
	font-size: 0.9em;
}

/* reader button */

.tab-item .reader-button {
	display: none;
	margin-left: -0.66em;
	height: 11px;
	margin-top: -2px;
	/* fixes blurry rendering.
	image-rendering: pixelated should do the same thing, 
	but it doesn't seem to work.
	*/
	transform: scaleX(1.00001);
}
.dark-theme .tab-item .reader-button {
	filter: invert(1);
}
.tab-item.active .reader-button.can-reader {
	display: inline-block;
}
.tab-item.active .reader-button.is-reader {
	display: inline-block;
}

/* when the tab is hovered, hide info buttons and show the close button */

.tab-item:hover .tab-info-icon {
	display: none;
}
.tab-item .tab-close-button {
	display: none;
}
.tab-item:hover .tab-close-button {
	display: inline-block;
}

/* hide other tabs in focus mode */

body.is-focus-mode .tab-item:not(.active) {
	display: none;
}
body.is-focus-mode .navbar-action-button:not(#menu-button) {
	display: none;
}

/* since only one tab is shown in focus mode, the highlight isn't needed */

body.is-focus-mode .tab-item {
	background: none !important;
}

/* progress bar */


.progress-bar-container {
	height: 2px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 0.8em;
	overflow: hidden;
}

.progress-bar {
	height: 2px;
	width: 100%;
	background-color: currentColor;
}

body:not(.dark-theme) .progress-bar {
	opacity: 0.8;
}

.p0 {
	transform: translateX(-100%);
}

.p25 {
	transform: translateX(-75%);
	transition: transform 4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.p100 {
	transform: translateX(0%);
	transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
