.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	background-color: inherit;
	z-index: 1;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
body.windows .navbar {
	height: 46px;
}
#switch-task-button {
	position: absolute;
	top: -6px;
	right: 0;
	z-index: 9;
}
body.windows #switch-task-button {
	top: 4px;
	right: 138px;
}
#switch-task-button.active {
	color: royalblue !important;
}
#task-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 40px 10% 5em 10%;
	white-space: nowrap;
	overflow: auto;
	opacity: 1;
	transform: none;
	transition: 0.15s all;
	z-index: 3;
}
body.windows #task-overlay {
	padding-top: 50px;
}
#task-overlay[hidden] {
	display: block !important;
	visibility: hidden;
	transform: scale(1.1);
	opacity: 0;
}
.task-container + .task-container {
	padding-top: 0.75em;
}
.task-tab-item {
    position: relative;
}

/* close tab button */

.task-tab-item button.closeTab {
    position: absolute;
    width: 2em;
    height: 2em;
    left: -2.1em;
    top: calc(0.16em + 1px); /* searchbar styles padding-top */
    bottom :0;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    opacity: 0;
    background: transparent;
	transition: 0.05s;
	color: currentColor;
}
.task-tab-item:hover button.closeTab {
    opacity: 0.5;
}
.dark-mode .task-tab-item:hover button.closeTab {
	opacity: 0.7;
}
.task-tab-item button.closeTab:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.05);
}
.dark-mode .task-tab-item button.closeTab:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.15);
}
.task-tab-item button.closeTab:active {
    background: rgba(0, 0, 0, 0.175);
}
.dark-mode .task-tab-item button.closeTab:active {
    background: rgba(0, 0, 0, 0.35);
}
.task-tab-item button.closeTab > i {
    margin-left: -1px;
    margin-right: 0;
    padding: 0;
    opacity: 1;
    vertical-align: baseline;
    font-size: 1em;
}

/* drag handle */

.task-drag-handle {
	margin-left: -1.5em;
	padding-right: 0.5em;
	margin-top: 0.1em;
	opacity: 0;
	transition: 0.2s opacity;
}

.task-container:hover .task-drag-handle {
	opacity: 0.6;
}

/* inputs */

.task-name {
	-webkit-appearance: none;
	appearance: none;
	flex: 1;
	font-size: 1.2em;
	color: inherit;
	border: 0;
	background: none;
	opacity: 0.75;
	margin: 0.5em;
}
.task-name::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.8;
}
#add-task {
	position: fixed;
	bottom: 0;
	left: 10%;
	width: 80%;
	padding: 1.25em;
	text-align: center;
	color: inherit;
	background-color: rgb(245, 245, 245);
	cursor: pointer;
}
#add-task:hover {
	background-color: rgb(235, 235, 235);
}
#add-task .fa {
	opacity: 0.75;
	margin-right: 0.25em;
}
.task-action-container {
	display: flex;
	align-items: center;
	padding-right: 1em;
}
@media all and (max-width: 600px) {
	#task-overlay {
		padding-left: 5%;
		padding-right: 5%;
	}
	#add-task {
		width: 90%;
		left: 5%;
	}
}

body.dark-mode #task-overlay{
	background-color: rgb(40, 44, 52) !important;
	color: lightgrey;
}

.dark-mode #switch-task-button {
  color: dodgerblue;
}

body.dark-mode #task-overlay #add-task {
	background-color: rgb(33, 37, 43) !important;
	color: lightgrey;
}
