/* TODO remove before release */
body:not(.task-icons) #task-overlay .icon-image {
	display: none;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	background-color: inherit;
	z-index: 1;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
body.windows:not(.maximized) .navbar {
	height: 46px;
}
#switch-task-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	transition: 0.5s transform;
}
body.windows #switch-task-button {
	right: 138px;
}
body.windows:not(.maximized) #switch-task-button {
	top: 10px;
}
#switch-task-button.active {
	color: royalblue !important;
}
#task-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 40px 0 5em 0;
	white-space: nowrap;
	overflow: auto;
	opacity: 1;
	transform: none;
	transition: 0.15s all;
	z-index: 3;
}
body.windows:not(.maximized) #task-overlay {
	padding-top: 50px;
}
#task-overlay[hidden] {
	display: block !important;
	visibility: hidden;
	transform: scale(1.05);
	opacity: 0;
}
.task-container {
	width: 90%;
	margin: auto;
	border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
	transition: 0.5s opacity;
}
.task-container.collapsed {
	opacity: 0.8;
	cursor: pointer;
}
.task-container.collapsed input {
	cursor: pointer;
}
.task-container + .task-container {
	padding-top: 0.75em;
}

.task-container.collapsed .task-tabs-container {
	display: none;
}

.task-tab-item:not(.fakefocus):focus {
	background-color: rgba(0, 0, 0, 0.05);
}
.dark-mode .task-tab-item:not(.fakefocus):focus {
	background-color: rgba(255, 255, 255, 0.08);
}

.dark-mode .task-tab-item.dark-favicon .icon-image {
	box-sizing: content-box;
	background: rgba(255, 255, 255, 0.7);
	border: 2px transparent solid;
	margin: -2px;
}

/* drag handle */

.task-collapse-button {
	font-size: 1.25em !important;
	width: 2em;
	text-align: center;
	margin-left: -2em;
	padding: 0.5em;
	margin-top: 0.1rem;
	transition: 0.2s opacity;
	opacity: 0.7;
}

.task-container:not(.collapsed):not(:hover) .task-collapse-button {
	opacity: 0;
}

.task-container.selected .task-collapse-button {
	display: none;
}

.task-delete-button {
	padding: 0.66em;
	margin: -0.66em;
}

.task-container.collapsed .task-delete-button {
	display: none;
}

.task-container .task-delete-warning {
	background: rgba(0, 0, 0, 0.05);
	padding: 1em;
	text-align: center;
}

.task-container:not(.deleting) .task-delete-warning {
	display: none;
}

.task-container.deleting > *:not(.task-delete-warning) {
	display: none;
}

/* inputs */

.task-name {
	-webkit-appearance: none;
	appearance: none;
	flex: 1;
	font-size: 1.2em;
	color: inherit;
	border: 0;
	background: none;
	opacity: 0.75;
	margin: 0.5em;
}
.task-name::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.8;
}
#add-task {
	position: fixed;
	bottom: 0;
	left: 10%;
	width: 80%;
	padding: 1.25em;
	text-align: center;
	color: inherit;
	background-color: rgb(245, 245, 245);
	cursor: pointer;
}
#add-task:hover {
	background-color: rgb(235, 235, 235);
}
#add-task .fa {
	opacity: 0.75;
	margin-right: 0.25em;
}
.task-action-container {
	display: flex;
	align-items: center;
	padding-right: 1em;
}
.task-info-container {
	padding: 0 0.6em;
}
.task-info-container span {
    font-size: 0.9em;
    opacity: 0.6;
    margin: -0.25em 0 0.25em 0;
}
.task-info-container span + span:before {
	content: " - ";
}

.task-container:not(.collapsed) .task-info-container .task-last-tab-title {
	display: none;
}
@media all and (max-width: 600px) {
	.task-container {
		width: 100%;
	}
	#add-task {
		width: 90%;
		left: 5%;
	}
}

body.dark-mode #task-overlay{
	background-color: rgb(40, 44, 52) !important;
	color: lightgrey;
}

.dark-mode #switch-task-button {
  color: dodgerblue;
}

body.dark-mode #task-overlay #add-task {
	background-color: rgb(33, 37, 43) !important;
	color: lightgrey;
}

/* survey */

#task-overlay-survey-banner {
	font-size: 10px;
	max-width: 225px;
	margin: 0.5em auto;
	background: rgb(245, 245, 245);
	padding: 0.25em 0.75em;
	border-radius: 3px;
	text-align: center;
}
.dark-mode #task-overlay-survey-banner {
	background: rgb(60, 60, 60);
}

#task-overlay-survey-link {
	font-size: 15px;
	color: rgb(28, 116, 204);
}
.dark-mode #task-overlay-survey-link {
	color: rgb(67, 161, 255);
}

#task-overlay-survey-close-button {
	font-size: 16px;
	margin-left: 0.5em;
	margin-right: 0.25em;
	padding: 0.25em;
	margin-top: -0.25em;
	opacity: 0.6;
	color: #333;
}
.dark-mode #task-overlay-survey-close-button {
	color: #fff;
}