#webviews {
	height: calc(100vh - 2.25em);
	position: relative;
}
#webviews webview {
	height: 100%;
	width: 100%;
	outline: none;
	position: absolute;
}
#webviews webview[hidden] {
	display: flex !important;
	visibility: hidden;
}
#webviews webview.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 99;
}

/* hack to work around display: none issues with webviews */

#webviews webview.hidden {
	visibility: hidden;
}
