#webviews {
	height: calc(100vh - 36px);
	position: relative;
}
body.windows #webviews {
	height: calc(100vh - 46px);
}

.arrow-indicator {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	background: #000;
	position: fixed;
	top: 50%;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}
/* use a separate class to avoid an issue where the arrow sometimes appears briefly on startup beginning in Chromium 61 */
.arrow-indicator.animating {
	transition: opacity 0.3s, visibility 0.3s;
}
.arrow-indicator.shown {
	opacity: 0.6;
	visibility: visible;
}
#leftArrowContainer {
	left: -70px;
}
#rightArrowContainer {
	right: -70px;
}

.arrow {
	color: white;
	font-size: 40px !important;
	margin-top: 50px;
}
#leftArrow {
	float: right;
	margin-right: 15px;
}
#rightArrow {
	float: left;
	margin-left: 15px;
}

#webview-placeholder {
	width: 100%;
	height: 100%;
	filter: blur(6px)
}
