body {
  --control-space-top: 0px;
  --control-space-left: 0.3em;
  --control-space-right: 0.3em;
}
/* window drag regions */

/* Top drag area - only on macOS */

.top-window-drag-area {
  display: none;
}

body.mac:not(.separate-titlebar):not(.fullscreen) .top-window-drag-area {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  -webkit-app-region: drag;
}

/* Left drag area - only on macOS */
body.mac:not(.is-edit-mode):not(.fullscreen):not(.separate-titlebar) #left-window-drag-area {
  margin-left: calc(var(--control-space-left) * -1);
  width: calc(var(--control-space-left) + 1.25em);
  height: 100%;
  -webkit-app-region: drag;
}

/* Right drag area - only on Windows and Linux */

right-window-drag-area {
  display: none;
}

body:is(.windows, .linux):not(.separate-titlebar) #right-window-drag-area {
  display: block;
  height: 100%;
  width: 36px;
  margin-right: -36px;
  -webkit-app-region: drag;
}

/* mac window buttons */

body.mac:not(.fullscreen):not(.separate-titlebar) {
  --control-space-left: 75px;
}

body.rtl.mac:not(.fullscreen):not(.separate-titlebar) {
  --control-space-left: 0px;
  --control-space-right: 75px;
}

body:is(.windows, .linux):not(.separate-titlebar) {
  --control-space-right: calc(36px + env(titlebar-area-width, 96px));
}
