node-linker=hoisted
electron_mirror=https://npmmirror.com/mirrors/electron/
registry=https://registry.npmmirror.com
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
