#backtoarticle {
	padding: 0 2.5em;
	color: dodgerblue;
	max-width: 800px;
	margin: auto;
	display: block;
	box-sizing: border-box;
	margin-top: 2em;
	cursor: pointer;
	font-family: ".SFNSText-Regular", sans-serif;
}
#backtoarticle i {
	vertical-align: baseline;
	margin-right: 0.25em;
	font-size: 1.1em;
}
body,
html {
	padding: 0;
	margin: 0;
	font-size: 22px;
}
iframe {
	display: none;
}
iframe.reader-frame {
	display: block;
	width: 100%;
	/* height is set in js */
	border: 0;
}
.reader-main {
	padding-top: 1em;
	max-width: 800px;
	display: block;
	margin: auto;
}
* {
	font-family: "Charter", "Georgia", serif;
}

/* actual reader content */

.visually-hidden {
	display: none;
}
h1.article-title {
	padding: 0.5em 1em;
	margin-top: 0.5em;
	margin: 0;
	font-size: 2em;
	font-weight: 500;
}
h2.article-authors {
	padding: 0 2.5rem;
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
	font-style: italic;
}

/* small windows */

@media all and (max-width: 600px) {
	h1.article-title {
		font-size: 2em;
	}
	h2.article-authors {
		font-size: 1.1em;
	}
}
h1,
h2 {
	font-weight: inherit;
}
h3,
h4 {
	padding: 0.5em 0;
	margin-top: 0.5em;
	margin: 0;
	font-size: 1.4em;
	font-weight: 500;
}
h4 {
	font-size: 1.25em;
	font-weight: 600;
}
.page {
	padding: 0 2.25rem 2.25rem 2.25rem;
}
.article-authors + .page {
	padding-top: 1rem;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}
p {
	line-height: 1.5em;
}
ul li,
ol li {
	padding: 0.25rem 0;
}
a {
	color: inherit;
	font-size: 1em;
	text-decoration: none;
	opacity: 0.6;
}
a:hover {
	color: #2196F3;
	opacity: 1.0;
}
figure {
	max-width: 50%;
	float: right;
}
@media all and (max-width: 600px) {
	figure {
		max-width: 100%;
		float: initial;
		margin: 0;
	}
}
figure figcaption {
	padding-top: 1em;
}
pre,
pre *,
code,
code * {
	font-family: monospace;
}
pre {
	display: block;
	overflow: auto;
}
q,
blockquote {
	display: block;
	border-left: 1px currentColor solid;
	padding-left: 0.5em;
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 1.5em 0;
}

/* dark theme */

body.dark-mode {
  background-color: rgb(33, 37, 43);
  color: lightgrey;
}
body.dark-mode a {
  color: dodgerblue;
}

/* site-specific styles */


/* nytimes.com */

.lede-container {
	display: none;
}
figure figcaption .credit {
	display: block;
	font-style: italic;
	margin-top: 0.25em;
}

/* wikipedia (and others?) */

.mw-editsection {
	display: none;
}

/* wsj */

dd {
	display: block;
	padding: 1em 0;
}

/* arstechnica.com */

#masthead > #primary {
	display: none;
}

/* bbc.com */

.off-screen {
	display: none;
}
