#backtoarticle {
	font-size: 1.25em;
	padding: 2em 0 0 44px;
	color: dodgerblue;
	max-width: 720px;
	margin: auto;
	display: block;
	box-sizing: border-box;
	cursor: pointer;
	font-family: system-ui, ".SFNSText-Regular", sans-serif;
}
#backtoarticle i {
	vertical-align: text-bottom;
	margin-right: 0.25em;
	font-size: 1.275em;
	/* pre-define the width to avoid the text moving after fontawesome loads */
	width: 0.36em;
}

.reader-frame {
	display: block;
	width: 100%;
	/* height is set in js */
	border: 0;
}