body,
html {
	padding: 0;
	margin: 0;
	font-size: 20px;
}

body[theme="dark"] {
	background-color: rgb(33, 37, 43);
	color: lightgrey;
}

body[theme="sepia"] {
	background-color: rgb(245, 237, 220);
	color: rgba(80, 55, 35, 1);
}

iframe {
	display: none;
}
.reader-main {
	padding-top: 1em;
	max-width: 650px;
	display: block;
	margin: auto;
}

* {
	font-family: "Charter", "Georgia", serif;
}

.visually-hidden {
	display: none;
}
h1.article-title {
	padding-bottom: 1rem;
	margin-top: 1rem;
	margin: 0;
	font-size: 2em;
	font-weight: 500;
}
h2.article-authors {
	padding: 0;
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
	font-style: italic;
}

/* small windows */

@media all and (max-width: 600px) {
	h1.article-title {
		font-size: 1.5em;
	}
	h2.article-authors {
		font-size: 1.1em;
	}
}
h1,
h2 {
	font-weight: inherit;
}
h3,
h4 {
	padding: 0.5em 0;
	margin-top: 0.5em;
	margin: 0;
	font-size: 1.4em;
	font-weight: 500;
}
h4 {
	font-size: 1.25em;
	font-weight: 600;
}
.page {
	padding-bottom: 2.25rem;
}
.article-authors + .page {
	padding-top: 1rem;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}
p {
	line-height: 1.5em;
	word-break: break-word;
}
ul li,
ol li {
	margin: 0.25rem 0;
	line-height: 1.5em;
}
a {
	color: #1b74bb;
	font-size: 1em;
	text-decoration: none;
}
body[theme="dark"] a {
	color: #65a9ed;
}
a:hover {
	background-image: linear-gradient(to bottom, transparent 70%, currentColor 0%);
	background-size: 1px 3px;
	background-position: 0px 1.03em;
	background-repeat: repeat-x;
}
figure {
	max-width: 100%;
	margin: 1em 0;
}

figure figcaption {
	font-size: 0.8em;
	margin-top: 1em;
	opacity: 0.75;
}
figure figcaption, figure figcaption * {
	font-family: sans-serif;
}
pre,
pre *,
code,
code * {
	font-family: monospace;
}
pre {
	display: block;
	overflow: auto;
}
q,
blockquote {
	display: block;
	border-left: 1px currentColor solid;
	padding-left: 0.5em;
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 1.5em 0;
}

table {
	border-collapse: collapse;
}

td, th {
	padding: 0.25em;
	border: 1px #ddd solid;
	text-align: center;
}

body[theme="dark"] td, body[theme="dark"] th {
	border-color: #444;
}

td li, th li {
	text-align: left;
}

/* printing */

@media print {
	body {
		color: #000 !important;
		font-size: 16px !important;
	}
}

/* site-specific styles */


/* nytimes.com */

.lede-container {
	display: none;
}
figure figcaption .credit,
figure figcaption [itemprop=copyrightHolder] {
	display: block;
	font-style: italic;
	margin-top: 0.25em;
}

/* wikipedia (and others?) */

.mw-editsection {
	display: none;
}

/* wsj.com */

dd {
	display: block;
	padding: 1em 0;
}

/* arstechnica.com */

#masthead > #primary {
	display: none;
}

/* bbc.com */

.off-screen {
	display: none;
}

/* lifehacker.com (and possibly others */

svg {
	display: none;
}
