.release-container {
  margin: 2em 0;
}

.release-spacer {
  height: 0.33em;
}

#releases-older-link {
  font-size: 1.25em;
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
  padding-bottom: 2em;
}

#releases-older-link i {
  font-size: 1.25em;
  margin-right: 0.25em;
  vertical-align: middle;
  margin-bottom: 0.2em;
}