body,
html {
	overflow: auto;
}

.settings-info-subheading {
	opacity: 0.666;
	margin-top: -0.1em;
	margin-bottom: 1em;
}

.yellow-background {
	background-color: rgb(250, 188, 43);
}

.short-hero {
	position: relative;
	overflow: hidden;
}
.blue-gradient-background {
	background: linear-gradient(135deg, rgba(80, 122, 196, 1) 43%, rgba(80, 122, 196, 1) 43%, rgba(128, 192, 226, 1) 89%, rgba(128, 192, 226, 1) 89%);
	color: #fff;
}

.container {
	max-width: 1000px;
	margin: auto;
	padding: 0 1em;
}

.settings-container {
	max-width: 1000px;
	margin: 2.25em auto;
	padding: 0 1em;
}
.settings-container .setting-option + .setting-option {
	margin: 0.5em 0;
}

.setting-section {
	font-size: 0; /* avoid adding space between inline-block children */
}
.setting-section:not(:only-of-type) {
	padding: 0.5rem 0;
}
.setting-section select {
	min-width: 225px;
}
.setting-section input[type=checkbox] {
	vertical-align: middle;
}
.setting-section input[type=checkbox] + label {
	vertical-align: middle;
}
.setting-section input + label {
	padding-left: 0.33em;
}
.setting-section label + input,
.setting-section label + select {
	margin-left: 0.66em;
}
.setting-secondary-label {
	padding-left: 1.18em;
	padding-top: 0.2em;
}
.banner {
	padding: 1em;
	position: sticky;
	bottom: -1px;
	left: 0;
	width: 100%;
	z-index: 9;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

#key-map-list {
	column-count: 2;
	column-gap: 2.5%;
}

#key-map-list li {
	list-style-type: none;
	padding: 0.4em 0;
}
#key-map-list li label {
	padding: 0.2em 0;
	width: 43%;
	display: inline-block;
}
#key-map-list li input {
	width: 57%;
	padding: 0.2em;
	margin-left: 0;
}

@media all and (max-width: 800px) {
	#key-map-list {
		column-count: 1;
	}

	#key-map-list li label {
		max-width: 200px;
	}
}

@media all and (max-width: 400px) {
	#key-map-list label, #key-map-list input {
		display: block;
		width: 100% !important;
	}
}

#content-blocking-statistics i {
	font-size: 1.1em;
    vertical-align: text-bottom;
    margin-right: 0.15em;
}

#tracking-level-container .setting-option.selected:not(:first-child) {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0.5em 0.5em;
	margin-left: -0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#content-blocking-information {
	margin: 0.75em 0.5em 0 1.58em;
}

#customize-filters-link {
	display: block;
	margin-top: 0.66em;
	opacity: 0.8;
}

#proxy-settings-container input {
	width: 100%;
	max-width: 34em;
}

#restart-required-banner {
  color: black;
}
