.header-image-container {
	position: absolute;
	top: calc(85% - 5vw);
	left: 5%;
	width: 90%;
	height: 40%;
	height: 10vw;
	overflow: hidden;
}
.header-image-container #header-image {
	width: 100%;
}
.header-image-spacer {
	display: block;
	/* fallback for older browsers */
	height: 25%;
	/* this must be equal (image height) - (overlap between header image and gardient background) */
	height: calc(10vw - 5vw);
}

@media all and (max-width: 1000px) {
	.header-image-container {
		width: 100%;
		left: 0;
	}
}

/* footer */

#footer {
	padding: 1em calc(5% + 1.5em);
	background-color: #eee;
}

#footer #logo-image {
	width: 64px;
	display: inline-block;
	vertical-align: top;
}

@media all and (max-width: 500px) {
	#footer #logo-image {
		width: 48px;
	}
}

#footer #footer-links {
	display: inline-block;
	padding-left: 2em;
}

#footer #footer-links a {
	display: block;
	color: #222;
	padding: 0.5em 0;
}