.header-image-container {
	position: absolute;
	top: calc(85% - 5vw);
	left: 5%;
	width: 90%;
	height: 40%;
	height: 10vw;
	overflow: hidden;
}
.header-image-container #header-image {
	width: 100%;
}
.header-image-spacer {
	display: block;
	/* fallback for older browsers */
	height: 25%;
	/* this must be equal (image height) - (overlap between header image and gardient background) */
	height: calc(10vw - 5vw);
}

@media all and (max-width: 600px) {
	.header-image-container {
		width: 100%;
		left: 0;
	}
}